<%= form_for(@master_expense, remote: true, html: { class: "form-horizontal", style: "display:inline;" }) do |f| %>  
    <%= @master_expense.id %> 
  <div class="modal-body"> 
  <% if @master_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@master_expense.errors.count, "error") %> prohibited this master_expense from being saved:</h2>

      <ul>
      <% @master_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount, class: 'control-label'%><br>
    <%= f.number_field :amount, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <%= f.label :category, class: 'control-label' %><br>
    <%= f.text_field :category, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <%= f.label :mandatory, class: 'control-label' %><br>
    <%= f.number_field :mandatory, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  </div>
  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>
