<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@master_expense, remote: remote, html: {role: :form, 'data-model' => 'master_expense'}) do |f| %>  
  <% if @master_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@master_expense.errors.count, "error") %> prohibited this master_expense from being saved:</h2>

      <ul>
      <% @master_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount, class: 'control-label'%><br>
    <%= f.text_field :amount, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  <div class="field">
    <%= f.label :category, class: 'control-label' %><br>
    <%= f.text_field :category, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  <div class="field">
    <%= f.label :mandatory, class: 'control-label' %><br>
    <%= f.text_field :mandatory, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  <div class="actions">
    <%= f.submit, class: 'btn btn-default' %>
  </div>
<% end %>
