<h1>Listing master_expenses</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Category</th>
      <th>Mandatory</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @master_expenses.each do |master_expense| %>
      <tr>
        <td><%= master_expense.amount %></td>
        <td><%= master_expense.category %></td>
        <td><%= master_expense.mandatory %></td>
        <td><%= link_to 'Show', master_expense %></td>
        <td><%= link_to 'Edit', edit_master_expense_path(master_expense) %></td>
        <td><%= link_to 'Destroy', master_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master expense', new_master_expense_path %>
