<div class="master_expenses_table">
  <%= will_paginate @master_expenses %>
  <% @master_expenses.each do |expense| %>
    <%= render partial: 'master_expenses_row', locals: {expense: expense} %>
  <% end %>

  <%= will_paginate @master_expenses %>
</div>
<%= link_to 'New Master Expense', '#new_master_expense_modal', 'data-toggle' => 'modal' %>

<div class="modal fade" id="new_master_expense_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new master expense</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
