<table class="table">
  <%= will_paginate @goals %>
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @goals.each do |goal| %>
        <tr>
          <td><%= goal.name %> - <%= link_to 'Edit',  edit_goal_path(goal), remote:true %>/<%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %>
          <td><%= goal.amount %></td>
        </tr>
      <% end %>
    </tbody>
</table>
